@use 'variables' as v;



html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: v.$fuente-principal;
    font-size: 1.6rem;
    color: v.$color-white;
    background-color: v.$color-black;
}
main {
    flex: 1;
}
.container {
    width: min(100%, 120rem);
    margin: 0 auto;
}
.overlay {
    position: absolute;
    background-color: v.$color-black;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 1;
}
.gradient {
    width: 100%;
    height: 20rem;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, transparent, #000);
    z-index: 2;
}
h1, h2 {
    margin: 4rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
    text-align: center;
}
h3 {
    font-size: 2.2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

ul, li {
    list-style: none;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    display: inline-block;
    color: v.$color-black;
    font-family: v.$fuente-principal;
    padding: 1rem 2rem;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: .8rem;
    transition: color .2s ease;
    cursor: pointer;
    font-size: clamp(1rem, 5vw, 1.6rem);
}
.button--medium {
    display: inline-block;
    color: v.$color-black;
    font-family: v.$fuente-principal;
    padding: 1rem 2rem;
    border: none;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: .8rem;
    transition: color .2s ease;
    font-size: 1.6rem;
    cursor: pointer;
}
.button--amarillo {
    background: linear-gradient(to bottom, #efb71e, #b49017);
}
.button--amarillo:hover {
    background: linear-gradient(to bottom, #b49017, #efb71e);
    color: v.$color-enlaces;
}

.button-verde {
    background: linear-gradient(to bottom, #1fb432, #178226);
}
.button-verde:hover {
    background: linear-gradient(to bottom, #178226, #1fb432);
    color: v.$color-enlaces;
}

img {
    max-width: 100%;
    display: block;
}

main {
    .gap-10rem {
        gap: 10rem;
    }
}